.TermModal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.TermModal {
    background: white;
    border-radius: 8px;
    box-shadow: inset;
    padding: 20px;
    position: relative;
}

.TermModal-content {
    text-align: left;
    max-height: auto;
    max-width: 650px;
    overflow-y: auto;
}
.Term-All-agree-checkbox-text{
    margin-left: 8px;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: underline;
}
.Term-agree-checkbox{
    width: 20px;
    height: 20px;
    accent-color: oklch(0.828 0.189 84.429);
}
.Term-agree-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.Term-scrollBox {
    max-height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.Term-h3{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}