:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: oklch(0.145 0 0);
  --card: #ffffff;
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #030213;
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body{
  font-family: 'Gamja Flower';
  color: oklch(0.145 0 0);
}
h2{
  color: #7B3306;
}

.newstory_font{
  margin: 0px;
  color: #CC7A3E;
}

button{
  width: 200px;
  height: 40px;
  background: linear-gradient(to left,oklch(0.769 0.188 70.08), oklch(0.828 0.189 84.429));
  color: var(--primary-foreground);
  border-radius: 50px;
  border: none;
}

.signup-input{
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #FEE685;
}
.signup-input:focus{
  outline: none;
  border: 2px solid oklch(0.828 0.189 84.429);
}
.signup-input::placeholder{
  font-family: 'Gamja Flower';
  color: #FEE685;
  text-indent: 15px;
}

.App_container{
  justify-content: center;
}

.App{
  background-color: #FFF8EB;
  border-radius: 20px;
  margin: 40px auto;
  padding: 20px 150px;
  max-width: 750px;
  width:90%;
}

.Logo{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #ff8902;
}

.signup-header{
  display: grid;
  padding-bottom: 80px;
  padding-top: 80px;
  place-items: center;
  gap: 5px;
}

.sign-input-display{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.input-text{
  font-size: 16px;
  text-align: start;
  color: #7B3306;
}

.agree{
  display: flex;
  justify-content: flex-end;
}

.submitbtn{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}