 .signin-container{
  background-color: #FFF8EB;
  border-radius: 20px;
  margin: 40px auto;
  padding: 20px 50px;
  max-width: 400px;
}
.signin-container .signin-inputName-text{
  text-align: start;
  margin-top: 30px;
}
.signin-container button{
    width: 100%;
    height: 50px;
}

/* 체크박스 */
.signin-idremember{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}

.signin-input{
    
    font-size: 17px;
  text-indent: 15px;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #FEE685;
  transition: background 0.3s, border 0.3s;
}

.signin-input:focus{
  outline: none;
  border: 2px solid oklch(0.828 0.189 84.429);
  
}
.signin-input::placeholder{
  font-family: 'Gamja Flower';
  color: #FEE685;
}
.signin-a-tag{
    display:grid;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

a{
    color: #CC7A3E;
}
.signin-text{
  margin-top: 40px;
  color: oklch(0.769 0.188 70.08);
}